---
import SectionHeader from '../../components/SectionHeader.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Blog'>
	<main class='flex h-full flex-col gap-6'>
		<SectionHeader name='Blog' />
	</main>
</Layout>
