---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex min-h-screen flex-col items-center justify-center">
		<h1 class="text-5xl font-extrabold">Welcome to Portfolio!</h1>
	</main>
</Layout>
