---
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '@fontsource/m-plus-rounded-1c';
import '@fontsource/m-plus-rounded-1c/700.css';
import SideBar from '../components/SideBar.svelte';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="dark" lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white text-black dark:bg-base dark:text-white">
		<SideBar pageUrl={Astro.url.pathname} client:load/>
		<div
			id='container'
			class='grid min-h-screen place-items-center px-2 pt-20 lg:px-[35%]'
		>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	strong {
		font-family: 'M PLUS Rounded 1c', sans-serif;
		font-weight: 700;
	}
</style>
